* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*NAVBAR**************************************/
body nav {
    background-color:transparent;
    background-color: #B0CF98;
    font-weight: bold;

}

#logo-nav {
    height: 2rem;
    width: 2rem;
}

#navbarNav .nav-link:hover {
 color: white;
}


/*JUMBOTRON/ HOME **************************************/
#home {
    background-color: #B0CF98;
}

#home h1 {
  position: relative;
}

.jumbotron {
  height: 100vh;

}


/* CSS link color (red) */
.link { 
  color: black;
  text-decoration: none;
} 

.link:hover {
 color: white;
 text-decoration: none;
}


.jumbotron button {
  border-radius: 25px;
  border: 2px solid #5A8559;
  background-color: #5A8559;
}


/*ANIMATION---*/

/* DEMO-SPECIFIC STYLES */
.jumbotron h1 {
  text-align: center;
  color: ##0B0A0B;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}






/*ABOUT / PROFILE**************************************/
#about img {
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  vertical-align: middle;
  border: 1px solid gray;
 }

/*PROJECTSS*********************************************/
#projects {
  /*background-color: #a2836e;*/
}

#photo {
  width: 100%;
}

#photo1 {
  width: 100%;
}

#projects .card {
  width: 100%;
  border-radius: 25px;
  border: 2px solid #5A8559;
  background-color: #E1EDBD;
  overflow: hidden;
}

/*#projects .card:hover {
 font-weight: bold;
}*/

#projects .card:hover {
 transform: scale(1.05);
 font-weight: bold;
}

/*TOOLS*/

#tools .col:hover {
 transform: scale(1.3);
}


/*CONTACT FORM*********************************************/
#contact {
  /*background-color: #d9ad7c;*/
}

input[type=text] {
  color: black;
  background-color: #E1EDBD;
  border-radius: 25px;
  border: 2px solid gray;
  padding: 20px; 
}

input[type=email] {
  color: black;
  background-color: #E1EDBD;
  border-radius: 25px;
  border: 2px solid gray;
  padding: 20px; 
}


#exampleFormControlTextarea1 {
  color: black;
  background-color: #E1EDBD;
  border-radius: 25px;
  border: 2px solid gray;
  padding: 20px; 
}


#contact button {
  border-radius: 25px;
  border: 2px solid #5A8559;
  background-color: #5A8559;
  text-align: center;
}

#contact button { 
  color: black;
  text-decoration: none;
} 

#contact button:hover {
 color: white;
 text-decoration: none;
}

#map-wrapper iframe {
  border-radius: 25px;
  border: 2px solid gray;
  width: 100%;
  height: 80%;
}


/*FOOTER**************************************/
#footer {
  background-color: #5A8559;
  /*background-color: #A3DD83;*/
}

#logo-footer {
  height: 2rem;
  width: 2rem;
}

#footer i {
  color: black;
}

#copyright {
  color: white;
}

#footer .fab:hover {
  color: white;
}
/*CONTACT FORM*/
/*iframe {
  width: 100%;
}*/

/*TRY**************************************/

/*body {
   background-color: #2e4057;
   margin:0;
}

.patterns {
  height: 100vh;
}

svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #ffa5d8;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 3;
 
  animation: textAnimate 5s infinite alternate;
  
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(189, 68%, 75%)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
}*/
